.Forecast .temperature {
  font-weight: 800;
  font-size: 34px;
  line-height: 48px;
}
.units {
  top: -14px;
  font-size: 16px;
  line-height: 48px;
  position: relative;
  margin-left: -10px;
}
.units a {
  text-decoration: none;
}
.units .active {
  color: #000000;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}

.description {
  text-transform: capitalize;
}

.searchCity {
  margin-top: 112px;
}
button {
  display: block;
  background: #0d6efd;
  color: white;
  font-size: 16px;
  padding: 5px 12px;
  border: none;
  border-radius: 6px;
  /* box-shadow: 5px 5px 10px #8a8a8a; */
  transition: all 200ms ease-in-out;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.rowButtons {
  margin: 5px 0px;
}
.currentLocationButton {
  margin: -38px 125px;
  padding: 7px 12px;
}

.forecast {
  margin-left: 00px;
  text-align: center;
}
.forecast_date {
  font-size: 16px;
  opacity: 0.5;
}
.Forecast .forecast_temperature {
  font-size: 12px;
}

.weather-border {
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 20px;
}

.row {
  margin-bottom: 30px;
  margin-top: 50px;
}
.card-title {
  margin-bottom: 30px;
  text-align: center;
}
.card-text {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}
